<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SysFontDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CFED8421C34AA0300C083E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CFED85B1C34AA0300C083E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CFED8661C34AA0300C083E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
